body {
    color: black;
    height: 205vh;
    /* width: 100%; */
    background-color: #E6E6FA;
    animation: main_header;
    animation-duration: 0.5s;
    animation-direction: normal;
/* position: relative; */
}
.link{
    height: 6vh;
    width: 100%;
    background-color: #C8E6C9;
    text-align: center;
    text-align: center;
    font-size: 17px;
    position: sticky;
    top: 0%;
    list-style-type: none;
    display: flex;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 35px;
    animation: nav 2s ease-in 1s normal backwards;
}
@keyframes nav{
    from{
        opacity: 0;
        top: 200px;
    }
    to{
        top: 0px;
    }
}
.conteinar{
    animation: main 1s ease-in 3s normal backwards;
}
@keyframes main{
    from{
        opacity: 0;
        top: 200px;
    }
    to{
        top: 0px;
    }
}
mark{
    background-color: #6B5B95;
    padding: 5px 10px;
    color: white;
}
.link a{
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
}

.myInput{
    border: none;
}
.leater{
    font-family: sans-serif;
    font-style:inherit;
}

.tital{
    /* background-color: wheat; */
    height: 5vh;
    color: darkblue;
}

.under{
    color: rgb(128, 7, 97);
}

.footer{
    height: 12vh;
    width: 100%;
    background-color: wheat;
    text-align: center;
    line-height: 200%;
    transition: ease-in-out;
}
@media screen and (max-width : 567px){
    .link {
        height: 30vh;
        width: 100%;
        background-color: #C8E6C9;
        text-align: center;
        line-height: 200%;
        font-size: 17px;
        position: sticky;
        top: 0%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .link a{
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        text-decoration: none;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 50vh;
        box-shadow: 0px 0px 12px grey;
    }
    fieldset{
        border-color: black;
        width: 90%;
        border-radius: 10px;
        margin-left: 20px;
        background:transparent;
    }
    /* #first{
        margin-left: 40px;
    } */
}
p::first-letter{
    font-size: 50px;
}
form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100vh;
    box-shadow: 0px 0px 12px grey;
}
fieldset{
    border-color: #add8e6;
    width: 90%;
    border-radius: 0px;
    margin-left: 20px;
    background:transparent;
}
legend{
    color: darkblue;
}
a:hover{
    color: #955251      ;
    font-size: 30px;
}