body {
    color: black;
    height: 225vh;
    /* width: 100%; */
    background-color: #E6E6FA;animation: main_header;
    animation-duration: 0s;
    animation-direction: normal;
/* position: relative; */
}
@keyframes main_header{
    from{
        opacity: 0;
        top: 200px;
    }
    to{
      top: 0px;
    }
}
.link{
    height: 6vh;
    width: 100%;
    background-color: #C8E6C9;
    text-align: center;
    text-align: center;
    font-size: 17px;
    position: sticky;
    top: 0%;
    list-style-type: none;
    display: flex;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 35px;
    animation: nav 1s ease-in 1s normal backwards;
}
@keyframes nav{
    from{
        opacity: 0;
        top: 200px;
    }
    to{
        top: 0px;
    }
}
.conteinar{
    animation: main 1s ease-in 3s normal backwards;
}
@keyframes main{
    from{
        opacity: 0;
        top: 200px;
    }
    to{
        top: 0px;
    }
}
mark{
    background-color: #6B5B95;
    padding: 5px 10px;
    color: white;
}
.link a{
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
}
/* a:hover{
    color: red;
    text-decoration: none;
    font-size: 20px;
} */

.leater{
    font-family: sans-serif;
    font-style:inherit;
}

.tital{
    /* background-color: wheat; */
    height: 5vh;
    color: darkblue;
}

.under{
    color: rgb(128, 7, 97);
}

.rendom{
    color: purple;
}

.footer{
    height: 12vh;
    width: 100%;
    background-color: wheat;
    text-align: center;
    line-height: 200%;
    transition: ease-in-out;
}
@media screen and (max-width : 567px){
    .link {
        height: 30vh;
        width: 100%;
        background-color: #C8E6C9;
        text-align: center;
        line-height: 200%;
        font-size: 17px;
        position: sticky;
        top: 0%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .link a{
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        text-decoration: none;
    }
    /* #first{
        margin-left: 40px;
    } */
}
p::first-letter{
    font-size: 50px;
}
a:hover{
    color: #955251      ;
    font-size: 30px;
}