body {
    color: black;
    height: 393vh;
    background-color: #E6E6FA;
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* backdrop-filter: blur(10px); */animation: main_header;
    animation-duration: 2.5s;
    animation-direction: normal;
/* position: relative; */
}
@keyframes main_header{
    from{
        opacity: 0;
        top: 200px;
    }
    to{
      top: 0px;
    }
}
.header{
    /* background-color: #FFE5B4; */
    height: 7vh;
    text-align: center;
    line-height: 300%;
    
}
.link{
    height: 6vh;
    width: 100%;
    background-color: #C8E6C9;
    text-align: center;
    text-align: center;
    font-size: 17px;
    position: sticky;
    top: 0%;
    list-style-type: none;
    display: flex;
    margin-top: 110px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 35px;
    animation: nav 2s ease-in 1s normal backwards;
}
@keyframes nav{
    from{
        opacity: 0;
        top: 200px;
    }
    to{
        top: 0px;
    }
}
.conteinar{
    animation: main 1s ease-in 3s normal backwards;
}
@keyframes main{
    from{
        opacity: 0;
        top: 200px;
    }
    to{
        top: 0px;
    }
}
mark{
    background-color: #6B5B95;
    padding: 5px 10px;
    color: white;
}
.link a{
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
}

  
.leater{
    font-family: sans-serif;
    font-style:inherit;
}

/* #first{
    margin-left: 420px;
} */

.tital{
    height: 5vh;
    color: darkblue;
}

.under{
    color: rgb(128, 7, 97);
    font-style: inherit;
}
.footer{
    height: 12vh;
    width: 100%;
    background-color: #FFE5B4;
    text-align: center;
    line-height: 200%;
    transition: ease-in-out;
}

p::first-letter{
    font-size: 50px;
}
a:hover{
    color: #955251      ;
    font-size: 30px;
}


@media screen and (max-width : 567px){
    .link {
        height: 30vh;
        width: 100%;
        background-color: #C8E6C9;
        text-align: center;
        line-height: 200%;
        font-size: 17px;
        position: sticky;
        top: 0%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .link a{
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        text-decoration: none;
    }
    /* #first{
        margin-left: 40px;
    } */
}