body {
    color: black;
    height: 190vh;
    /* width: 100%; */
    background-image: linear-gradient(orange, white, green);
}

.link {
    height: 5vh;
    /* width: 100%; */
    background-color: white;
    text-align: center;
    line-height: 200%;
    font-size: 17px;
    position: sticky;
    top: 3%;
    /* padding: 10px; */
    /* transition: 1s; */
}

.link ul{
    list-style-type: none;
    display: flex;
    text-align: center;
}

/* a:hover{
    color: red;
    text-decoration: none;
    font-size: 20px;
} */
.link a{
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
    /* display: flex; */
    /* margin-right: 60px ; */
}
.leater{
    font-family: sans-serif;
    font-style:inherit;
}

#first{
    margin-left: 300px;
}

.tital{
    /* background-color: wheat; */
    height: 5vh;
    color: darkblue;
}

.under{
    color: rgb(128, 7, 97);
}

.footer{
    height: 12vh;
    width: 100%;
    background-color: wheat;
    text-align: center;
    line-height: 200%;
    transition: ease-in-out;
}